.landing-content {
  height: 600px;
  width: 800px;
}

.bg-login {
  background: url('https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80')
    no-repeat center center;
  background-size: cover;
}

.bg-register {
  background: url('https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2091&q=80')
    no-repeat center center;
  background-size: cover;
}
