@import '~src/_variables.scss';

.profile-card {
  .profile-stats {
    .accented {
      color: $accent;
      font-weight: bold;
    }
  }

  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}
