@import '~src/_variables.scss';

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-container {
  button {
    background-color: transparent;
    color: white;
  }

  .mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
  }
}

.menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-sidenav {
  display: flex;
  padding: 8px;
  width: 200px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    mat-icon {
      position: absolute;
      left: 8px;
      top: 7px;
    }

    width: 80%;
    margin: 8px;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page-content {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding: 20px;
}

.github-icon {
  font-size: 22px;
}

.hover-accent {
  transition: all 0.2s;
}

.hover-accent:hover {
  cursor: pointer;
  color: $accent;
}

.hover-accent:focus {
  outline: none;
}
