<mat-card-actions>
  <button
    mat-icon-button
    (click.stop)="addToLibrary()"
    *ngIf="showAction('add')"
    (mousedown)="disableRipple()"
    (mouseup)="enableRipple()"
  >
    <mat-icon>{{ addIcon() }}</mat-icon>
  </button>
  <a
    mat-icon-button
    *ngIf="showAction('book')"
    [routerLink]="['/books', book.id]"
    (click.stop)="closeDialog()"
    (mousedown)="disableRipple()"
    (mouseup)="enableRipple()"
  >
    <mat-icon>book</mat-icon>
  </a>
  <a
    mat-icon-button
    *ngIf="showAction('author')"
    [routerLink]="['/authors', book.author.id]"
    (click.stop)="closeDialog()"
    (mousedown)="disableRipple()"
    (mouseup)="enableRipple()"
  >
    <mat-icon>create</mat-icon>
  </a>
  <a
    mat-icon-button
    *ngIf="showAction('read')"
    routerLink="/books"
    (click.stop)="closeDialog()"
    (mousedown)="disableRipple()"
    (mouseup)="enableRipple()"
  >
    <mat-icon>subject</mat-icon>
  </a>
  <button
    mat-icon-button
    class="favorite"
    (click.stop)="toggleFavorite()"
    *ngIf="showAction('favorite')"
    (mousedown)="disableRipple()"
    (mouseup)="enableRipple()"
  >
    <mat-icon>{{ favoriteIcon() }}</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="showAction('download')"
    (click.stop)="download()"
    (mousedown)="disableRipple()"
    (mouseup)="enableRipple()"
  >
    <mat-icon>cloud_download</mat-icon>
  </button>

  <mat-menu #shareMenu="matMenu">
    <button mat-menu-item>
      <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
      <span>Twitter</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fab" fontIcon="fa-facebook"></mat-icon>
      <span>Facebook</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fab" fontIcon="fa-linkedin"></mat-icon>
      <span>LinkedIn</span>
    </button>
  </mat-menu>
  <button
    mat-icon-button
    [matMenuTriggerFor]="shareMenu"
    *ngIf="showAction('share')"
    (click.stop)="share()"
    (mousedown)="disableRipple()"
    (mouseup)="enableRipple()"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-card-actions>
