/* You can add global styles to this file, and also import other style files */

// Import common styles
@import 'app-common';
@import '_variables.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

section {
  margin: 40px 0px;
}

.mat-dialog-container {
  .mat-card-image {
    height: 420px;
  }

  .mat-card-content {
    height: 75px;
    overflow-y: scroll;
  }

  margin: 0;
  padding: 0 !important;
}

.favorite {
  color: $accent !important;
}

.float-right {
  float: right;
}
