/* You can add global styles to this file, and also import other style files */

// Import common styles
@import 'app-common';
@import '~@fortawesome/fontawesome-free/css/all.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-dialog-container {
  margin: 0;
  padding: 0 !important;
  max-width: 640px;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}
