<mat-card
  [ngClass]="class"
  matRipple
  [matRippleDisabled]="rippleDisabled"
  (click)="openDialog()"
>
  <div fxLayout="row" fxLayoutAlign="stretch" *ngIf="extended">
    <div fxFlex="50%">
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-subtitle>{{ book.author.name }}</mat-card-subtitle>
    </div>
    <div fxFlex="50%">
      <app-book-card-actions
        [book]="book"
        [actions]="topActions()"
        (rippleDisabled)="onRippleDisabled($event)"
        class="float-right"
      ></app-book-card-actions>
    </div>
  </div>
  <img mat-card-image [src]="book.imageUrl" [alt]="book.title" />
  <mat-card-content *ngIf="extended">
    <p>{{ book.summary }}</p>
  </mat-card-content>
  <app-book-card-actions
    [book]="book"
    [actions]="bottomActions()"
    (rippleDisabled)="onRippleDisabled($event)"
  ></app-book-card-actions>
</mat-card>
